.account-nav {
  background-image: radial-gradient(circle at 51% 3%, #26005a, #0e0022);
}

.nav-img {
  padding-top: 18px;
  padding-bottom: 17px;
  padding-left: 37px;

  /*align-self: flex-start;*/
  width: auto;
}

.nav-img img {
  height: 35px;
  width: auto;
}

.account-ul {
  max-width: 450px;
  width: 100%;

  display: flex;
  align-self: flex-end;
  justify-content: space-between;

  padding-top: 22px;
  padding-bottom: 19px;
  padding-right: 30px;
  margin-bottom: 0;

  align-self: flex-end;
  flex: 1;
}

.account-stats {
  padding-left: 0;
  padding-right: 0;
}

.telegram-button .fa-telegram-plane {
  margin-right: 8px;
}

.chart-wrapper {
  max-height: 320px;
  max-width: 420px;

  height: 100%;
  width: 100%;

  align-self: flex-end;
}
::ng-deep .ngx-charts text {
  fill: #fff;
}

::ng-deep .ngx-charts .bar {
  width: 40px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  // .container-fluid {
  //   padding-left: 32px;
  //   padding-right: 32px;
  // }

  .account-date {
    padding-left: 0;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .rewards-wrapper {
    flex-flow: column nowrap;
  }

  .account-nav {
    padding-left: 0;
    padding-right: 0;
  }

  .account-ul {
    padding-left: 0;
    padding-right: 0;

    justify-content: space-around;
  }

  .stats-title {
    font-size: 18px;
  }

  .account-ul li {
    font-size: 18px;
  }

  .chart-wrapper {
    align-self: center;
    max-height: 250px;
    height: auto;
    max-width: none;
  }

  .stats-graph {
    margin-bottom: 40px;
  }

  .nav-img {
    display: none;
  }

  .account-nav {
    padding-left: 0;
    padding-right: 0;
  }

  .account-ul {
    padding-left: 0;
    padding-right: 0;

    max-width: none;

    justify-content: space-around;
  }

  .stats-data {
    padding-left: 15px;
    padding-top: 40px;
    border-left: none;
    border-top: 1px solid rgba(#ffffff, 0.2);
    margin-bottom: 30px;
  }

  .telegram-button {
    align-self: flex-end;
  }
}
