<nav class="navbar navbar-custom-1 fixed-top navbar-toggleable-sm bg-faded desktop-only">
  <div class="navbar-container">
    <a class="navbar-brand" href="#">
      <img class="logoImg" src={{logoPath}}/>
    </a>
    <div class="nav-header">
      <a class="navbar-brand" href="#">
        JOIN
      </a>
      <button class="navbar-toggler navbar-toggler-custom-1 navbar-toggler-right collapsed" type="button"
              data-toggle="collapse" data-target="#collapsingNavbar2">
        <span> </span>
        <span> </span>
        <span> </span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="collapsingNavbar2">
      <div class="container">
        <ul class="nav navbar-nav">
          <div class="mega-menu p-3">
            <div class="row mobile-view menu-divider">
              <!--<ul class="list-unstyled col-md-1 col-sm-1" role="menu">-->
              <!--</ul>-->
              <ul class="list-unstyled col-md-10 col-sm-10 mobile-divider" role="menu">
                <div class="divider"></div>
              </ul>
              <!--<ul class="list-unstyled col-md-1 col-sm-1" role="menu">-->
              <!--</ul>-->
            </div>
            <div class="row section-1">
              <ul class="list-unstyled col-md-1 col-sm-1 desktop-view" role="menu">
              </ul>
              <ul class="list-unstyled col-md-2 col-sm-1 desktop-view" role="menu">
              </ul>
              <ul class="list-unstyled col-md-3 col-sm-1 desktop-view" role="menu">
              </ul>
              <ul class="list-unstyled col-md-3 col-sm-1 desktop-view" role="menu">
              </ul>
              <ul class="list-unstyled col-md-2 col-sm-4 main-list col-12" role="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Join</a></li>
              </ul>
              <ul class="list-unstyled col-md-1 col-sm-4 desktop-view" role="menu">
              </ul>
            </div>
            <div class="row">
              <ul class="list-unstyled col-md-1 col-sm-1" role="menu">
              </ul>
              <ul class="list-unstyled col-md-10 col-sm-10" role="menu">
                <div class="divider"></div>
              </ul>
              <ul class="list-unstyled col-md-1 col-sm-1" role="menu">
              </ul>
            </div>
            <div class="row section-2">
              <ul class="list-unstyled col-md-1 col-sm-1" role="menu">
              </ul>
              <ul class="list-unstyled col-md-2 col-sm-3" role="menu">
                <img src={{icon_language}}/>&nbsp;<span>ENGLISH</span>
              </ul>
              <ul class="list-unstyled col-md-3 col-sm-3 menu-location" role="menu">
                <img src={{icon_location}}/>&nbsp;<span>OSLO</span>
              </ul>
              <ul class="list-unstyled col-md-3 col-sm-1" role="menu">
              </ul>
              <ul class="list-unstyled col-md-2 col-sm-1" role="menu">
              </ul>
              <ul class="list-unstyled col-md-1 col-sm-1" role="menu">
              </ul>
            </div>
            <div class="row section-2-1 mobile-view">
              <ul class="list-unstyled col-md-12 col-sm-12 col-12" role="menu">
                <img src={{icon_language}}/>&nbsp;<span>ENGLISH</span>
              </ul>
            </div>
            <div class="row mobile-view">
              <ul class="list-unstyled col-md-1 col-sm-1" role="menu">
              </ul>
              <ul class="list-unstyled col-md-10 col-sm-10" role="menu">
                <div class="divider"></div>
              </ul>
              <ul class="list-unstyled col-md-1 col-sm-1" role="menu">
              </ul>
            </div>
            <div class="row section-2-2 mobile-view">
              <ul class="list-unstyled col-md-12 col-sm-12 col-12" role="menu">
                <img src={{icon_location}}/>&nbsp;<span>OSLO</span>
              </ul>
            </div>
            <div class="row">
              <ul class="list-unstyled col-md-1 col-sm-1" role="menu">
              </ul>
              <ul class="list-unstyled col-md-10 col-sm-10" role="menu">
                <div class="divider"></div>
              </ul>
              <ul class="list-unstyled col-md-1 col-sm-1" role="menu">
              </ul>
            </div>
            <div class="row section-3">
              <ul class="list-unstyled col-md-12 col-sm-12 social-icons col-12" role="menu">
                <img src={{icon_facebook}}/><img src={{icon_twitter}}/><img src={{icon_telegram}}/>
              </ul>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</nav>
<nav class="navbar navbar-custom-1 fixed-top navbar-toggleable-sm bg-faded mobile-view">
  <a class="navbar-brand" href="#">
    <img class="logoImg" src={{logoPath}}/>
  </a>
  <div class="nav-header">
    <a class="navbar-brand" href="#">
      JOIN
    </a>
    <button class="navbar-toggler navbar-toggler-custom-1 navbar-toggler-right collapsed" type="button"
            data-toggle="collapse" data-target="#collapsingNavbar">
      <span> </span>
      <span> </span>
      <span> </span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="collapsingNavbar">

    <ul class="nav navbar-nav">
      <div class="mega-menu p-3">
        <div class="row mobile-view menu-divider">
          <!--<ul class="list-unstyled col-md-1 col-sm-1" role="menu">-->
          <!--</ul>-->
          <ul class="list-unstyled col-md-10 col-sm-10 mobile-divider" role="menu">
            <div class="divider"></div>
          </ul>
          <!--<ul class="list-unstyled col-md-1 col-sm-1" role="menu">-->
          <!--</ul>-->
        </div>
        <div class="row section-1">
          <ul class="list-unstyled col-md-1 col-sm-1 desktop-view" role="menu">
          </ul>
          <ul class="list-unstyled col-md-2 col-sm-1 desktop-view" role="menu">
          </ul>
          <ul class="list-unstyled col-md-3 col-sm-1 desktop-view" role="menu">
          </ul>
          <ul class="list-unstyled col-md-3 col-sm-1 desktop-view" role="menu">
          </ul>
          <ul class="list-unstyled col-md-2 col-sm-4 main-list col-12" role="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Join</a></li>
          </ul>
          <ul class="list-unstyled col-md-1 col-sm-4 desktop-view" role="menu">
          </ul>
        </div>
        <div class="row">
          <ul class="list-unstyled col-md-1 col-sm-1" role="menu">
          </ul>
          <ul class="list-unstyled col-md-10 col-sm-10" role="menu">
            <div class="divider"></div>
          </ul>
          <ul class="list-unstyled col-md-1 col-sm-1" role="menu">
          </ul>
        </div>
        <div class="row section-2">
          <ul class="list-unstyled col-md-1 col-sm-1" role="menu">
          </ul>
          <ul class="list-unstyled col-md-2 col-sm-3" role="menu">
            <img src={{icon_language}}/>&nbsp;<span>ENGLISH</span>
          </ul>
          <ul class="list-unstyled col-md-3 col-sm-3 menu-location" role="menu">
            <img src={{icon_location}}/>&nbsp;<span>OSLO</span>
          </ul>
          <ul class="list-unstyled col-md-3 col-sm-1" role="menu">
          </ul>
          <ul class="list-unstyled col-md-2 col-sm-1" role="menu">
          </ul>
          <ul class="list-unstyled col-md-1 col-sm-1" role="menu">
          </ul>
        </div>
        <div class="row section-2-1 mobile-view">
          <ul class="list-unstyled col-md-12 col-sm-12 col-12" role="menu">
            <img src={{icon_language}}/>&nbsp;<span>ENGLISH</span>
          </ul>
        </div>
        <div class="row mobile-view">
          <ul class="list-unstyled col-md-1 col-sm-1" role="menu">
          </ul>
          <ul class="list-unstyled col-md-10 col-sm-10" role="menu">
            <div class="divider"></div>
          </ul>
          <ul class="list-unstyled col-md-1 col-sm-1" role="menu">
          </ul>
        </div>
        <div class="row section-2-2 mobile-view">
          <ul class="list-unstyled col-md-12 col-sm-12 col-12" role="menu">
            <img src={{icon_location}}/>&nbsp;<span>OSLO</span>
          </ul>
        </div>
        <div class="row">
          <ul class="list-unstyled col-md-1 col-sm-1" role="menu">
          </ul>
          <ul class="list-unstyled col-md-10 col-sm-10" role="menu">
            <div class="divider"></div>
          </ul>
          <ul class="list-unstyled col-md-1 col-sm-1" role="menu">
          </ul>
        </div>
        <div class="row section-3">
          <ul class="list-unstyled col-md-12 col-sm-12 social-icons col-12" role="menu">
            <img src={{icon_facebook}}/><img src={{icon_twitter}}/><img src={{icon_telegram}}/>
          </ul>
        </div>
      </div>
    </ul>
  </div>
</nav>

<!-- Desktop Hijacked View-->
<div class="box hero-area desktop-only" (swipeup)="swipe($event.type)" (swipedown)="swipe($event.type)">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="home-title-line-1">
          A new and unique blockchain
        </div>
        <div class="home-title-line-2">
          gaming and networking platform.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="box concept-area desktop-only" (swipeup)="swipe($event.type)" (swipedown)="swipe($event.type)">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="title">
          THE CONCEPT
        </div>
        <div class="content-1 text-content">
          The unique blockchain gaming and networking platform of SuperOne combines precision- engineered crypto games with unlimited network power.
        </div>
        <div class="content-2 text-content">
          With an innovative and rewarding business model, players enjoy direct ownership and instant direct-to- wallet game and network rewards.
        </div>
        <div class="learn-more">
          <span>LEARN MORE</span>
        </div>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-6">
        <div class="video concept-video">
          <div class="video-intro-text">
            Concept video
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="box game-area desktop-only" (swipeup)="swipe($event.type)" (swipedown)="swipe($event.type)">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="video concept-video">
          <div class="video-intro-text">
            Game graphics, video
          </div>
        </div>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-5">
        <div class="title">
          THE GAME
        </div>
        <div class="content-1 text-content">
          SuperOne offers unique, exciting and rewarding experiences while buying and using playballs to hunt for huge hidden prizes.
        </div>
        <div class="content-2 text-content">
          Game mechanics are built around innovative bidding algorithms. Combined with player skill, a fresh new crypto prize game is created.
        </div>
        <div class="learn-more">
          <span>LEARN MORE</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="box token-area desktop-only" (swipeup)="swipe($event.type)" (swipedown)="swipe($event.type)">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="title">
          THE TOKENS
        </div>
        <div class="content-1 text-content">
          Game profits are shared via tokens. Tokens are sold in blockchain spots for 0.1 ETH each and contain a decreasing amount of tokens.
        </div>
        <div class="content-2 text-content">
          Tokens are minted in real time via smart contract, providing instant, direct ownership and access.
        </div>
        <div class="learn-more">
          <span>LEARN MORE</span>
        </div>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-6">
        <div class="video concept-video">
          <div class="video-intro-text">
            Spot/token graphic
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="box network-area desktop-only" (swipeup)="swipe($event.type)" (swipedown)="swipe($event.type)">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="video concept-video">
          <div class="video-intro-text">
            Jamie presentation video
          </div>
        </div>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-5">
        <div class="title">
          THE NETWORK
        </div>
        <div class="content-1 text-content">
          Access to SuperOne is by invitation only. Existing players can invite new players, ensuring personal guidance and the formation of a powerful network.
        </div>
        <div class="content-2 text-content">
          The result is a strong network model supported by aligned stakeholders to facilitate and amplify both token sale and game growth.
        </div>
        <div class="learn-more">
          <span>LEARN MORE</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="box reward-area desktop-only" (swipeup)="swipe($event.type)" (swipedown)="swipe($event.type)">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="title">
          THE REWARDS
        </div>
        <div class="content-1 text-content">
          SuperOne’s sweeping game and network rewards are transforming networking with instant, direct transfers to your personal wallet.
        </div>
        <div class="content-2 text-content">
          Network rewards consist of direct, matrix and pool compensations, taking into account your own and platform performances.
        </div>
        <div class="learn-more">
          <span>LEARN MORE</span>
        </div>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-6">
        <div class="video concept-video">
          <div class="video-intro-text">
            Rewards video
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="box calc-area desktop-only" (swipeup)="swipe($event.type)" (swipedown)="swipe($event.type)">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="video concept-video">
          <div class="video-intro-text">
            Calculator animation
          </div>
        </div>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-5">
        <div class="title">
          THE CALCULATOR
        </div>
        <div class="content-1 text-content">
          The opportunity to create short- and long-term rewards is vital for fast network growth, viability and sustainability.
        </div>
        <div class="content-2 text-content">
          SuperOne’s calculators offer a tool to estimate potential rewards based on your personal preferences and network.
        </div>
        <div class="learn-more">
          <span>LEARN MORE</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="box market-area desktop-only" (swipeup)="swipe($event.type)" (swipedown)="swipe($event.type)">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="title">
          THE MARKET
        </div>
        <div class="content-1 text-content">
          The digital gaming market is worth a massive $130 billion with over 2 billion players driven by smartphone popularity growth.
        </div>
        <div class="content-2 text-content">
          10 Asian countries feature a majority of this market, making Asia a vital target and growth area.
        </div>
        <div class="learn-more">
          <span>LEARN MORE</span>
        </div>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-6">
        <div class="video concept-video">
          <div class="video-intro-text">
            Market graphics
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="box audience-area desktop-only" (swipeup)="swipe($event.type)" (swipedown)="swipe($event.type)">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="video concept-video">
          <div class="video-intro-text">
            Audience graphics
          </div>
        </div>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-5">
        <div class="title">
          THE AUDIENCE
        </div>
        <div class="content-1 text-content">
          Millennials are born digital consumers. Adopting new digital services is a natural part of their lives.
        </div>
        <div class="content-2 text-content">
          More and more millennials buy and own crypto. They are a meaningful target audience and gateway to a booming future.
        </div>
        <div class="learn-more">
          <span>LEARN MORE</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Mobile Hijacked View-->
<div class="mobile-box hero-area mobile-view" (swipeup)="mobileSwipe($event.type)" (swipedown)="mobileSwipe($event.type)">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="home-title-line-1">
          A new and unique blockchain gaming and networking platform.
        </div>
        <div class="home-title-line-2">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mobile-box concept-area-common mobile-view" (swipeup)="mobileSwipe($event.type)" (swipedown)="mobileSwipe($event.type)">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          THE CONCEPT
        </div>
        <div class="content-1 text-content">
          The unique blockchain gaming and networking platform of SuperOne combines precision- engineered crypto games with unlimited network power.
        </div>
        <div class="content-2 text-content">
          With an innovative and rewarding business model, players enjoy direct ownership and instant direct-to- wallet game and network rewards.
        </div>
        <div class="learn-more">
          <span>LEARN MORE</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mobile-box concept-area-video mobile-view" (swipeup)="mobileSwipe($event.type)" (swipedown)="mobileSwipe($event.type)">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="video concept-video">
          <div class="video-intro-text">
            Concept video
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mobile-box game-area mobile-view" (swipeup)="mobileSwipe($event.type)" (swipedown)="mobileSwipe($event.type)">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          THE GAME
        </div>
        <div class="content-1 text-content">
          SuperOne offers unique, exciting and rewarding experiences while buying and using playballs to hunt for huge hidden prizes.
        </div>
        <div class="content-2 text-content">
          Game mechanics are built around innovative bidding algorithms. Combined with player skill, a fresh new crypto prize game is created.
        </div>
        <div class="learn-more">
          <span>LEARN MORE</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mobile-box game-area mobile-view" (swipeup)="mobileSwipe($event.type)" (swipedown)="mobileSwipe($event.type)">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="video concept-video">
          <div class="video-intro-text">
            Game graphics, video
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mobile-box token-area mobile-view" (swipeup)="mobileSwipe($event.type)" (swipedown)="mobileSwipe($event.type)">
  This is section 4
</div>
<div class="mobile-box network-area mobile-view" (swipeup)="mobileSwipe($event.type)" (swipedown)="mobileSwipe($event.type)">
  This is section 5
</div>