@import "~scss/variables";

.home-title-line-1 {
  font-size: $so_fs_header;
  color: $so_cl_black;
  font-weight: bold;
}

.home-title-line-2 {
  font-size: $so_fs_header;
  color: $so_cl_black;
  font-weight: bold;
}

.hero-area .row {
  margin-top: 108px;
}

.box {
  cursor: pointer;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $so_cl_green-light;
  padding-top:    $so_section_gap + $so_navbar_height;

  .title {
    font-size: $so_fs_title;
    color: $so_cl_black;
    font-weight: bold;
    margin-top: 200px;
  }
  .text-content {
    font-size: $so_fs_text;
    color: $so_cl_black;
    font-weight: 400;
  }
  .content-1 {
    margin-top: 40px;
  }
  .content-2 {
    margin-top: 33px;
  }
  .video {
    width: 100%;
    background-color: $so_cl_purple;
    text-align: center;
    align-items: center;
    display: flex;
    height: calc(100vh - #{$so_section_gap * 2} - #{$so_navbar_height});
    justify-content: center;
  }

}

.mobile-box {
  .title {
    font-size: $so_fs_title;
    color: $so_cl_black;
    font-weight: bold;
  }
  .text-content {
    font-size: $so_fs_text;
    color: $so_cl_black;
    font-weight: 400;
  }
  .learn-more span {
    font-size: $so_fs_caption;
    font-weight: bold;
    color: $so_cl_purple;
    border: 2px solid $so_cl_purple;
    padding: 6px 17px;
    border-radius: 4px;
    cursor: pointer;
  }
}

.copy-wrapper {
  height: calc(100vh - #{$so_section_gap * 2} - #{$so_navbar_height});
  position: relative;
  display: flex;
  align-items: center;

  .title {
    margin-top: 0;
  }

  .learn-more {
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-grid;
  }
}

@media (max-width: 819px) {
  .home-title-line-1 {
    font-size: $so_fs_title;
  }

  .home-title-line-2 {
    font-size: $so_fs_title;
  }

  .mobile-box {
    cursor: pointer;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: $so_cl_green-light;
    padding-top: 101.5px;
    padding-bottom: 37.5px;
  }

  .hero-area .row {
    margin-top: 50px;
  }

  .mobile-box .video {
    width: 100%;
    height: -webkit-calc(100vh - 200px);
    background-color: $so_cl_black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .copy-wrapper {
    height: calc(100vh - 228px);
    align-items: normal;
  }

  .text-align {
    text-align: center;
  }

  .footer-center-logo img {
    width: 70%;
  }
}
