@import "~scss/variables";

.home-hero-section {
	height: 500px;
	.home-hero-caption {
		.img-logo {
			height: 56px;
		}
		h3 {
			max-width: 570px;
			margin-top: 60px;
		}
	}

	&:before {
		background-image: url(../../../assets/images/HOME_IMAGE_HERO.png);
	}
}
