<div class="join-lead">
  <div class="form-group join-group">
    <div [formGroup]="ethGroup" class="input-group">
      <input
        formControlName="ethAddress"
        class="form-control join-input"
        placeholder="Enter ETH parent address"
        aria-label="Recipient's username"
        aria-describedby="basic-addon2">

      <div class="input-group-append">
        <button
          class="btn join-btn"
          [disabled]="isActive"
          [class.valid]="ethGroup.valid"
          type="button"
          (click)="submit()">
          Join
        </button>
      </div>
    </div>
    <div class="form-errors" *ngIf="ethGroup.invalid && submitted">
      <div *ngIf="ethAddress.errors.required">
        Please insert ETH parent address
      </div>
      <div *ngIf="ethAddress.errors.invalid">
        Please enter valid ETH address
      </div>
      <div *ngIf="ethAddress.errors.notInMatrix">
        Address doesn't exists in matrix
      </div>
    </div>
  </div>
</div>

<ng-template #startMine>
  <div class="modal-body">

    <img [src]="mm_logo" class="mm-logo" alt="">

    <h2 class="modal-text text-center">
      We`ll now start to mine your spot on blockchain. <br>
      Please now <b>CONFIRM</b> your transaction in MetaMask.
    </h2>

    <p class="modal-disclaimer">Click on MetaMask icon <img [src]="mm_icon" alt=""> if not open automatically</p>

    <button class="btn confirm-btn" (click)="modalRef.hide()">
      Yes, transaction <b>CONFIRMED</b>
    </button>

  </div>
</ng-template>

<ng-template #signTransaction>
  <div class="modal-body">

    <img [src]="mm_logo" class="mm-logo" alt="">

    <h2 class="modal-text text-center">
      We've successfully mined your spot on blockchain.<br>
      Please now <b>Sign</b> your transaction in MetaMask.
    </h2>

    <p class="modal-disclaimer">Click on MetaMask icon <img [src]="mm_icon" alt=""> if not open automatically</p>

    <button class="btn confirm-btn" (click)="modalRef.hide()">
      Yes, transaction <b>SIGNED</b>
    </button>

  </div>
</ng-template>
