<nav class="nav-wrapper">
  <div class="container">
    <ul class="nav-ul">
      <li>
        <a routerLink='/'>Home</a>
      </li>
      <li>
        <a routerLink="/join" routerLinkActive="active">Join</a>
      </li>
      <li>
        <a href="https://news.super.one" target="_blank">News</a>
      </li>
      <li>
        <a href="https://news.super.one/help" target="_blank">Help</a>
      </li>
    </ul>
  </div>
</nav>
<section class="section-primary section-hero join-hero">
  <div class="container">
    <div class="section-name">Join now</div>
  </div>
</section>
<section class="section-secondary">
  <div class="container">
    <div class="join-steps">
      <div class="step-item">
        <div class="step-number">Step 1</div>
        <div class="step-title">Prepare wallet</div>
        <p>You need a compatible Ether wallet ready with at least ETH 0.1 + transaction fees available.</p>
        <p>We recommend at least ETH 0.0002 for a fast transfer transaction fee (10 GWEI). That means your Metamask wallet should have at least ETH 1.0002 available</p>
        <button class="btn btn-strok" (click)="onTextToggle(false)" [ngClass]="{'selected-button': isMobileSelected, 'unselected-button': !isMobileSelected}">Desktop Wallet</button>
        <ul>
          <li>Install <b>Metamask</b> for Google Chrome</li>
          <li>Buy <b>ETH</b> via an exchange like Coinbase</li>
          <li><b>Transfer</b> funds to your Metamask account</li>
          <li>
            <a href="https://news.super.one/help/" target="_blank">See Help for more information</a>
          </li>
        </ul>
      </div>
      <div class="step-item">
        <div class="step-number">Step 2</div>
        <div class="step-title">Pay your spot</div>
        <ul>
          <li>Go to <b>super.one</b> in your wallet browser</li>
          <li>Insert the <b>referral address</b></li>
          <li>Pay <b>ETH 0.1</b> to SuperOne</li>
          <li>
            <a href="https://news.super.one/help/" target="_blank">See Help for more information</a>
          </li>
        </ul>
      </div>
      <div class="step-item">
        <div class="step-number">Step 3</div>
        <div class="step-title">Refer friends</div>
        <ul>
          <li>Await transaction <b>confirmation</b></li>
          <li>Go to your <b>account</b></li>
          <li><b>Refer</b> others with your address</li>
          <li>
            <a href="https://news.super.one/help/" target="_blank">See Help for more information</a>
          </li>
        </ul>
      </div>
      <div class="step-item">
        <div class="step-number">Optional</div>
        <div class="step-title">Start free notifications</div>
        <ul>
          <li>Install <b>Telegram</b> Messenger</li>
          <li>Search for <b>SuperOne_bot</b></li>
          <li>Copy and paste your <b>ETH address</b></li>
          <li>
            <a href="https://news.super.one/help/" target="_blank">See Help for more information</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="section-primary section-hero join-future">
  <div class="container">
    <div class="section-name">The future today!</div>
  </div>
</section>
<div class="join-bar">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <h4><b>Join now!</b> Simply paste your referral’s invite ETH address:</h4>
      </div>
      <div class="col">
        <app-join-group [hide]="hideOverlay" [whiteTitle]="false" (hideChange)="handleHidechange($event)"></app-join-group>
      </div>
    </div>
  </div>
</div>
<footer class="page-footer">
  <div class="container">
    <div class="footer-data row">
      <div class="col-7">
        <img [src]="logoPath" class="footer-logo" alt="SuperOne logo">
      </div>
      <div class="col-2">
        <ul class="footer-nav">
          <li>
            <a routerLink='/'>Home</a>
          </li>
          <li>
            <a routerLink="/join" routerLinkActive="active">Join</a>
          </li>
          <li>
            <a href="https://news.super.one/" target="_blank">News</a>
          </li>
          <li>
            <a href="https://news.super.one/help/" target="_blank">Help</a>
          </li>
        </ul>
      </div>
      <div class="col-3">
        <ul class="footer-privacy">
          <li>
            <a href="https://news.super.one/terms-of-service/" target="_blank">Terms of Use</a>
          </li>
          <li>
            <a href="https://news.super.one/privacy-policy/" target="_blank">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>
    <p class="copyright">© Super.One 2018</p>
  </div>
</footer>