@import "~scss/variables";
.join-steps {
  .step-item {
    margin: auto;
    max-width: 945px;
    padding: 70px 80px 70px 90px;
    background-image: linear-gradient(-180deg, rgba(#6b00ff, 0.5) 0%, rgba(#4d04b0, 0.5) 100%);
    box-shadow: inset 1000px 1000px 0 rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    + .step-item {
      margin-top: 40px;
    }
    .step-number {
      font-size: 36px;
      font-weight: bold;
      line-height: 1.15;
      color: $purpleLight;
    }
    .step-title {
      font-family: "AktivGrotesk";
      line-height: 1.15;
      font-weight: bold;
      font-size: 48px;
      margin-bottom: 20px;
    }
    .btn {
      margin-bottom: 5px;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
    ul li,
    p {
      font-size: 24px;
      line-height: 1.2;
      a {
        font-weight: bold;
      }
    }
    p {
      margin-bottom: 24px;
    }
  }
}
