body {
  font-family: "ProximaNova";
  color: white;
  font-size: 18px;
  background-color: $bg_primary;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden !important;
}

a {
  color: $purpleLight;
  &:hover,
  &:active,
  &:focus {
    color: $purpleLight;
    text-decoration: none;
  }
}

p {
  margin-bottom: 15px;
  a {
    font-weight: bold;
  }
}

.telegram-bot {
  display: flex;
  align-items: center;
  color: $purpleLight;
  margin-bottom: 15px;
  span {
    flex: 1;
  }
}

.telegram-btn {
  display: inline-flex;
  align-items: center;

  border: solid 1px $purpleLight;
  border: 1px solid $purpleLight;
  border-radius: 4px;
  font-size: 24px;
  color: $purpleLight;
  text-decoration: none;
  height: 45px;
  padding: 0 18px;
  img {
    height: 20px;
    margin-right: 10px;
  }
}

.telegram-button {
  background-color: transparent;
  height: 50px;
  max-width: 175px;
  border-radius: 4px;
  border: solid 1px #908eff;

  font-family: ProximaNova;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  line-height: 48px;
  letter-spacing: normal;
  color: #908eff;
  padding-top: 0;
  padding-bottom: 0;
}

h2 {
  font-family: "AktivGrotesk";
  font-size: 36px;
  margin: 0 0 20px;
  line-height: 1.1;
}

h3 {
  margin: 0;
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
}

.section-secondary {
  display: flex;
  align-items: center;
  .section-content {
    margin: auto;
    p {
      margin-bottom: 1.333em;
      line-height: 1.333;
    }
  }

  &.warning {
    p {
      opacity: 0.5;
      font-size: 16px;
      line-height: 1.18;
    }
  }
}

.video-text {
  padding-top: 90px;

  font-family: ProximaNova;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
}

.join-video {
  padding-top: 92px;
  padding-bottom: 20px;
}

.video-title {
  font-weight: bold;
  font-size: 46px;
  z-index: 2;
}

.video-section {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  align-items: center;
  overflow: hidden;

  padding-bottom: 100px;

  min-height: 450px;

  .play-btn {
    cursor: pointer;
    position: absolute;
  }

  @media screen and (max-width: 575px) {
    min-height: 550px;

    .play-btn {
      width: 100%;
      cursor: pointer;
    }

    .video-title {
      font-weight: bold;
      font-size: 28px;
    }

  }

}

.section-primary {
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden;
  .container {
    position: relative;
    z-index: 5;
  }
  &:before,
  &:after {
    background-size: auto 100%;
    background-position: right center;
    background-repeat: no-repeat;
    position: absolute;

    top: 0;
    bottom: 0;
    display: block;
    content: "";
  }

  &:before {
    right: 0;
    width: 50%;
    z-index: 1;


    @media (max-width: 1700px) {
      width: 63%;
    }
  }
  //&:after {
  //  left: 0;
  //  width: 65%;
  //  z-index: 2;
  //  background-image: url(../assets/images/IMAGE_OVERLAY_ARROWS.svg);
  //
  //  @media (max-width: 1400px) {
  //    width: 62%;
  //  }
  //}
}

.section-hero {
  height: 28vw;
  max-height: 400px;
  &.phase-1 {
    &:before {
      background-image: url(../assets/images/boost_crowd.png);
    }
  }
  &.phase-2 {
    &:before {
      background-image: url(../assets/images/boost_game.png);
    }
  }
  &.phase-3 {
    &:before {
      background-image: url(../assets/images/boost_rewards.png);
    }
  }
  &.join-future {
    &:before {
      background-image: url(../assets/images/future_today.png);
    }
  }
  &.join-hero {
    &:before {
      background-image: url(../assets/images/join_now.png);
    }
  }
  .phase-number {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.15;
    color: $purpleLight;
  }
  .section-name {
    font-family: "AktivGrotesk";
    line-height: 1.15;
    font-weight: bold;
    font-size: 48px;
  }
}

.btn-strok {
  border: solid 1px white;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  height: 45px;
  line-height: 43px;
  padding: 0 18px;
  font-size: 30px;
  font-weight: bold;
  background: none;
  &:active,
  &:focus,
  &:hover {
    border-color: $purpleLight;
    color: $purpleLight;
    box-shadow: none;
    outline: none;
  }
}

.visible-xs {
  display: none !important;
}

.modal-style {

  max-width: 800px;

  .modal-header {
    border-bottom: 0;
  }

  .modal-body {
    height: 565px;
  }

  .timer {
    padding-bottom: 40px;

    font-family: AktivGrotesk;
    font-size: 54px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #6b00ff;
  }
}

.mm-logo {
  display: block;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.modal-text {
  margin-bottom: 80px;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.modal-disclaimer {
  margin-top: 20px;
  font-size: 24px;
  color: #000000;

  text-align: center;
}

.btn-metamask {
  display: block;
  width: 300px;
  height: 58px;
  background-color: #6b00ff;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  line-height: 49px;

  color: #ffffff;
  font-family: AktivGrotesk;
  font-size: 23px;

}

.confirm-btn {
  display: block;

  height: 58px;
  background-color: #6b00ff;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  line-height: 49px;

  color: #ffffff;
  font-family: AktivGrotesk;
  font-size: 23px;
}

.video-overlay {
  z-index: 1;
  cursor: pointer;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  position: relative;

  //&:after {
  //  content: "";
  //  top: 0;
  //  left: 0;
  //  bottom: 0;
  //  right: 0;
  //  position: absolute;
  //  z-index: 1;
  //  border-radius: 10px;
  //  background-color: rgba(0,0,0, 0.4);
  //
  //}

}

.concept-overlay {
  background: url('./../../src/assets/images/concept.png') no-repeat center center;
  background-size: cover;
}

.rewards-overlay {
  background: url('./../../src/assets/images/rewards.png') no-repeat center center;
  background-size: cover;
}

.join-overlay {
  background: url('./../../src/assets/images/join-overlay.png') no-repeat center center;
  background-size: cover;
}

//
.embed-container {
  position: relative;
  min-height: 610px;
  //padding-bottom: 56.25%;
  //padding-top: 30px;
  //height: 0;
  overflow: hidden;

  @media screen and (max-width: 575px) {
    min-height: 182px;
  }
}
//
.embed-container iframe,
.embed-container object,
.embed-container video,
.embed-container .video-overlay,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-section-wrapper {
  padding-top: 100px;
  padding-bottom: 130px;


  @media screen and (max-width: 575px) {
    padding-top: 30px;
  }

}

.eng-item {
  padding-left: 50px;

  @media screen and (max-width: 575px) {
    padding-left: 0;

  }
}

@media screen and (max-width: 991px) {
  .visible-xs {
    display: block !important;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 18px;
  }

  .section-hero {
    height: auto;
    max-height: 100%;
    .phase-number {
      font-size: 24px;
    }
    .section-name {
      font-size: 36px;
    }
  }
  .hero-section-wrapper {
    padding-bottom: 50px;
  }
  .hero-section-wrapper,
  .section-wrapper {
    position: relative;
  }
  .section-secondary {
    position: relative;
    z-index: 22;
    padding: 40px 0 60px;
    &.warning {
      background: none;
      p {
        font-size: 14px;
      }
    }
  }
  .section-primary {
    //position: static;
    //padding-top: 80vw;
    //&:before,
    //&:after {
    //  background-position: top center;
    //}
    //
    //&:before {
    //  width: 100%;
    //  padding-bottom: 70vw;
    //  bottom: auto;
    //  background-size: cover;
    //}
    //&:after {
    //  width: 100%;
    //  top: 36vw;
    //  background-size: 100% auto;
    //  background-image: url(../assets/images/IMAGE_OVERLAY_ARROWS_M.svg);
    //}
  }

  .level-index {
    flex: 0 1 50px;
  }

  .telegram-bot {
    flex-direction: column;
    margin-bottom: 60px;
    font-size: 18px;
    b {
      display: block;
      font-size: 24px;
      line-height: 1.2;
    }
    .telegram-btn {
      align-self: flex-end;
      margin-top: 20px;
      height: 34px;
      font-size: 18px;
      img {
        height: 15px;
      }
    }
  }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
  .section-secondary {
    .section-content {
      // max-width: 860px;
    }
  }
  .section-hero {
    .phase-number {
      font-size: 30px;
    }
    .section-name {
      font-size: 40px;
    }
  }
}

@media screen and (max-width: 720px) {
  .modal-body {
    height: 400px !important;
  }
  .mm-logo {
    margin-top: 30px !important;
    width: 200px !important;
  }
  .modal-content {
    margin-top: 15% !important;
  }

}
