/************  Buttons   ************/

.so-btn-outline {
  font-size: $so_fs_caption;
  font-weight: bold;
  color: $so_cl_purple;
  border: 2px solid $so_cl_purple;
  padding: 6px 17px;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: $so_cl_purple;
    color: $so_cl_white;
  }
}


/************ Container *************/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (max-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1152px;
  }
}

.custom-container {
  display: flex;
  width: 1165px;
  margin: 0 auto;
}

/*************** HiJack Box **********/
.box {
    cursor: pointer;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top:    $so_section_gap + $so_navbar_height;
}
.mobile-box {
  cursor: pointer;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: $so_navbar_height + $so_mobile_section_gap;
}
.box-content {
  height: calc(100vh - #{$so_section_gap * 2} - #{$so_navbar_height});
  position: relative;
  display: flex;
  align-items: center;
  @media (max-width: 819px) {
    height: calc(100vh - #{$so_mobile_section_gap * 2} - #{$so_navbar_height} - #{$so_mobile_tab_height});
  }
}

.box-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.box-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

/***** Desktop and Mobile View *******/
@media (min-width: 820px) {
  .desktop-view {
    display: block;
  }
  .mobile-view {
    display: none;
  }
}
@media (max-width: 819px) {
  .desktop-view {
    display: none;
  }
  .mobile-view {
    display: block;
  }
}
