@font-face {
  font-family: "ProximaNova";
  src: url("../assets/fonts/ProximaNova/ProximaNovaReg.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../assets/fonts/ProximaNova/ProximaNovaBold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../assets/fonts/ProximaNova/ProximaNovaLight.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../assets/fonts/ProximaNova/ProximaNovaLightIt.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../assets/fonts/ProximaNova/ProximaNovaBoldIt.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "AktivGrotesk";
  src: url("../assets/fonts/AktivGrotesk/AktivGrotesk.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AktivGrotesk";
  src: url("../assets/fonts/AktivGrotesk/AktivGroteskBold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "AktivGrotesk";
  src: url("../assets/fonts/AktivGrotesk/AktivGroteskBold.ttf");
  font-weight: bold;
}
