.page-footer {
  background-color: #0e0022;
  overflow: hidden;
  position: relative;
  padding-top: 95px;
  padding-bottom: 20px;
  font-size: 18px;
  &.m-0-footer {
    margin-bottom: 0;
  }
  .container {
    position: relative;
  }
  &:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background-image: radial-gradient(60% 50%, #26005a 0%, #0e0022 100%);
  }
  .footer-data {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 110px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      a {
        line-height: 2;
      }
    }
  }
  .footer-nav {
    a {
      color: white;
      &:hover,
      &.active {
        color: $purpleLight;
      }
    }
  }
  .footer-privacy {
    a {
      color: rgba(white, 0.5);
      &:hover {
        color: rgba(white, 0.8);
      }
    }
  }

  .footer-logo {
    height: 55px;
  }

  .copyright {
    margin: 0;
    font-size: 14px;
    font-family: AktivGrotesk;
  }
}

.join-bar {
  .container {
    max-width: 1070px;
  }

  border-radius: 10px;
  border: solid 0.5px transparent;
  background-image: linear-gradient(to bottom, #26005a, #0e0022), linear-gradient(to bottom, #453781, #6d06ff);

  margin-top: 20px;
  padding: 18px 0;
  display: flex;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 44;

  h4 {
    font-size: 20px;
    margin: 0;
  }
  .join-group {
    margin: 0;
    .join-input {
      height: 44px;
      font-size: 18px;
      background-color: transparent;
      border-radius: 5px 0 0 5px;
      box-shadow: none;
      color: white;
      border-right-width: 0;
      &:focus {
        border-color: white;
      }
      &::-webkit-input-placeholder {
        color: rgba(white, 0.3);
      }
      &::-moz-placeholder {
        color: rgba(white, 0.3);
      }
      &:-ms-input-placeholder {
        color: rgba(white, 0.3);
      }
      &:-moz-placeholder {
        color: rgba(white, 0.3);
      }
    }
    .join-btn {
      min-width: 100px;
      height: 44px;
      border-right: 5px;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      background-color: $purpleLighter;
    }
  }
  .form-errors {
    color: #ec373c;
    font-size: 20px;
    padding: 5px 20px;
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .page-footer {
    margin-bottom: 0;
    .footer-data > div {
      flex: 0 0 50%;
      max-width: 50%;
      &.col-7 {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
  .join-bar {
    position: relative;
    padding: 40px 0;
    .join-group {
      margin-top: 20px;
      .join-input {
        border-right-width: 1px;
      }
    }
    .row {
      flex-direction: column;
      .col {
        flex: auto;
      }
    }
  }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
  .join-bar {
    h4 {
      font-size: 18px;
    }
  }
}
